@import "../app";

.cart {
  &-empty {
    @include flex-column-center;
    font-size: 0.5rem;
    color: $light-gray;
    padding: 1rem 0px;
    background-color: #ffffff;
  }
  &-foot {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 1.9rem;
    z-index: 1;
    @include flex-row-between;
    font-size: 0.5rem;
    &-checkbox {
      @include flex-row-center;
      span {
        &:first-child {
          font-size: 0px;
        }
      }
    }
    &-total {
      span {
        color: $red-color;
        font-size: 0.65rem;
        margin-left: 0.25rem;
      }
    }
    &-action {
      background-color: $red-color;
      color: #ffffff;
      width: 4.5rem;
      height: 2rem;
      font-size: 0.65rem;
      @include flex-row-center;
      line-height: 2rem;
      span {
        @include right-triangle(#ffffff, 6px, 5px);
        margin-left: 0.25rem;
      }
    }
  }
  &-goods {
    background-color: #ffffff;
    font-size: 0.5rem;
    li {
      @include flex-row-between;
      padding: 0.75rem 0.25rem;
      border-top: 1px solid $border-color;
    }
    &-cover {
      width: 3.2rem;
      height: 3.2rem;
      background-size: cover;
      background-position: center;;
    }
    &-info {
      width: 65%;
      @include flex;
      @include flex-column;
      &-name {
        @include multiline-text-overflow;
        color: $dark-gray;
        @include scale(0.95);
        transform-origin: left center;
      }
      &-desc {
        color: $light-gray;
        @include scale(0.85);
        transform-origin: left center;
        margin: 0.05rem 0px 0.1rem;
      }
      &-action {
        @include flex-row-between;
        &-price {
          color: $red-color;
          span {
            font-size: 0.6rem;
            margin-left: 0.2rem;
          }
        }
        .action {
          @include flex-row-center;
          span {
            text-align: center;
            font-size: 0.5rem;
            height: 0.8rem;
            line-height: 0.8rem;
            border: 1px solid $border-color;
            &:first-child {
              border-right: none;
            }
            &:last-child {
              border-left: none;
            }
          }
        }
        &-num {
          width: 1.5rem;
          color: $dark-gray;
        }
        &-btn {
          width: 1rem;
          font-weight: 300;
          color: $light-gray;
        }
      }
    }
  }
}