@import "../app";

.about {
  img {
    width: 100%;
  }
  &-copyright {
    color: $light-gray;
    @include flex-column-center;
    font-size: 0.5rem;
    margin: 2rem 0px 1rem;
    span {
      &:last-child {
        margin-top: 0.15rem;
      }
    }
  }
}