@import "../app";

.home {
  &-search {
    padding: 0.5rem;
    @include flex-row-center;
    background-color: #ffffff;
    font-size: 0.5rem;
    a {
      @include flex-1;
      color: #646567;
      background-color: #ededed;
      height: 1.4rem;
      line-height: 1.4rem;
      @include radius(0.2rem);
      @include flex;
      @include flex-row;
      align-items: center;
      padding: 0px 0.25rem;
      span {
        padding-left: 0.35rem;
      }
    }
  }
  &-scroll {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
  }
  &-category {
    overflow: scroll;
    white-space: nowrap;
    border-bottom: 1px solid $border-color;
    li {
      margin: 0.5rem 0.75rem 0.1rem;
      padding-bottom: 0.3rem;
      display: inline-block;
      text-align: center;
      font-size: 0.5rem;
      color: $dark-gray;
      border-bottom: 0.1rem solid transparent;
      &.active {
        border-bottom: 0.1rem solid $red-color;
      }
    }
  }
  .swiper-container {
    font-size: 0px;
    margin-bottom: 0.5rem;
    img {
      width: 100%;
    }
  }
  &-list {
    @include flex-row-between;
    @include flex-wrap;
    li {
      width: 49%;
      background-color: #ffffff;
      margin-bottom: 2%;
    }
    &-cover {
      background-size: cover;
      width: 100%;
      height: 7rem;
    }
    &-desc {
      font-size: 0.45rem;
      margin: 0.35rem 0.15rem;
      @include multiline-text-overflow;
    }
    &-info {
      @include flex;
      @include flex-row;
      align-items: center;
      font-size: 0.5rem;
      padding: 0.25rem;
      &-price {
        color: $red-color;
        font-size: 0.65rem;
        @include flex;
        @include flex-row;
        align-items: flex-end;
        span {
          display: inline-block;
          @include scale(0.7);
          transform-origin: left;
        }
      }
      &-sales {
        color: $light-gray;
        @include scale(0.9);
        transform-origin: left;
        margin-left: 0.5rem;
      }
    }
  }
}