@import '../app';

.icon-svg {
  vertical-align: -0.15em;
  overflow: hidden;
  fill: currentColor;
}

.icon-svg-smaller {
  width: 0.6rem;
  height: 0.6rem;
}

.icon-svg-small {
  width: 0.9rem;
  height: 0.9rem;
}

.icon-svg-middle {
  width: 1.2rem;
  height: 1.2rem;
}

.icon-svg-big {
  width: 1.4rem;
  height: 1.4rem;
}

.icon-svg-bigger {
  width: 4.5rem;
  height: 4.5rem;
}

.loading {
  @include flex-row-center;
  padding: 0.5rem 0px;
  &-icon {
    animation: loading-rotate 1.5s infinite linear;
    display: inline-block;
    font-size: 0px;
    transform-origin: center center;
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-box {
  .modal {
    .title {

    }
    .desc {

    }
    .btns {

    }
  }
}

.toast-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  text-align: center;
  background: transparent;
  font-size: 0.6rem;
  @include flex-row-center;
  .toast {
    padding: 0.3rem 0.7rem;
    margin: 0 auto;
    border-radius: 0.1rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    background: #fff;
    border-radius: 0.15rem;
    width: 12rem;
    .title {
      color: #333;
      font-weight: 500;
      font-size: 0.8rem;
      padding-top: 0.75rem;
    }
    .desc {
      color: #666;
      font-size: 0.6rem;
      margin: 0.75rem 0px;
    }
    .btns {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: #44b549;
      font-weight: 400;
      justify-content: center;
      border-top: 1px solid #ebebeb;
      p {
        flex: 1;
        padding: 0.5rem 0px;
        font-size: 0.7rem;
        &:last-child {
          border-left: 1px solid #ebebeb;
        }
      }
    }
  }
}