@import '../app';

.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  img {
    width: 50%;
    margin: 2rem 25% 1rem;
  }
  &-menu {
    width: 80%;
    margin: 0px auto 1rem;
    font-size: 0.6rem;
    @include flex-row-around;
    p {
      width: 2.5rem;
      text-align: center;
      padding: 0.3rem 0px;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom: 2px solid $red-color;
        color: $red-color;
      }
    }
  }
  &-input {
    width: 80%;
    margin: 0px 10%;
    div {
      position: relative;
      margin: 0.75rem 0px;
      input {
        width: 100%;
        font-size: 0.5rem;
        padding-left: 5%;
        height: 2rem;
        border: 1px solid $border-color;
        border-radius: 5px;
      }
      p {
        height: 2rem;
        line-height: 2rem;
        position: absolute;
        font-size: 0.5rem;
        right: 0px;
        top: 0rem;
        padding: 0px 0.5rem;
      }
    }
  }
  &-btn {
    width: 100%;
    background-color: $red-color;
    color: #ffffff;
    height: 1.6rem;
    @include radius(0.15rem);
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0px 5px;
    box-sizing: border-box;
  }
  input[type="checkbox"] + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  #show:checked + label {
    background: #ECA9A7;
  }
  #show:checked + label:after {
    background: #D9534F;
  }
  #show:checked + label:after {
    left: calc(100% - 20px);
  }
  #show + label {
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
  }
  #show + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
  }
}