@import "../app";

.recommend {
  margin-top: 0.25rem;
  &-title {
    @include flex-row-center;
    background-color: #ffffff;
    font-size: 0.5rem;
    padding: 0.35rem 0px;
    color: $red-color;
    span {
      margin-left: 0.25rem;
    }
  }
  ul {
    @include flex-row-between;
    @include flex-wrap;
    li {
      width: 49%;
      background-color: #ffffff;
      margin-bottom: 2%;
      .cover {
        background-size: cover;
        width: 100%;
        height: 7rem;
      }
      .title {
        font-size: 0.45rem;
        margin: 0.35rem 0.15rem;
        @include multiline-text-overflow;
      }
      .param {
        @include flex-row-between;
        font-size: 0.5rem;
        margin: 0.35rem 0.15rem;
        .price {
          color: $red-color;
          @include scale(0.8);
          span {
            display: inline-block;
            @include scale(1.15);
            margin-left: 0.25rem;
          }
        }
        .sales {
          font-size: 0.5rem;
          color: $light-gray;
          @include scale(0.8);
        }
      }
    }
  }
}